.popup__input-text-error_active {
    margin: 0;
    border: 0;
    width: 100%;
    padding-top: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(255, 0, 0, 1);
}